<section class="row mx-auto justify-content-center py-5 mt-5">
    <div class="w-75 row">
        <div class="w-100 mx-1 align-self-center d-flex">
            <div class="text-right col-4">
                <!--     {{#each states}}
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">{{this.code}} .
                    {{this.name}} {{this.nameEn}} </a><br>
                <a href=""></a>
                
                {{#if states }}




                {{/if}}

                {{/each}}    -->


                <a href="/states#33" class="btn border-primary rbox text-right text-primary mb-1">1. أدرار Adrar</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">2. الشلف Chlef</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">3. الأغواط Laghouat</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">4. أم البواقي Oum
                    el-Bouaghi</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">5. باتنة Batna</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">6. بجاية Béjaïa</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">7. بسكرة Biskra</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">8. بشار Béchar</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">9. البليدة Blida</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">10. البويرة Bouïra</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">11. تمنراست Tamanghasset</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">12. تبسة Tébessa</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">13. تلمسان Tlemcen</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">14. تيارت Tiaret</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">15. تيزي وزو Tizi Ouzou</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">16. الجزائر Algiers</a>

            </div>
            <div class="text-right col-4">
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">17. الجلفة Djelfa</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">18. جيجل Jijel</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">19. سطيف Sétif</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">20. سعيدة Saïda</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">21. سكيكدة Skikda</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">22. سيدي بلعباس Sidi Bel
                    Abbès</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">23. عنابة Annaba</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">24. قالمة Guelma</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">25. قسنطينة Constantine</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">26. المدية Médéa</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">27. مستغانم Mostaganem</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">28. المسيلة M'sila</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">29. معسكر Mascara</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">30. ورقلة Ouargla</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">31. وهران Oran</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">32. البيض El Bayadh</a>

            </div>
            <div class="text-right col-4">
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">33. اليزي Illizi</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">34. برج بوعريريج Bordj Bou
                    Arréridj</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">35. بومرداس Boumerdès</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">36. الطارف El Taref</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">37. تندوف Tindouf</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">38. تسمسيلت Tissemsilt</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">39. الوادي El Oued</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">40. خنشلة Khenchela</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">41. سوق أهراس Souk
                    Ahras</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">42. تيبازة Tipaza</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">43. ميلة Mila</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">44. عين الدفلى Aïn Defla</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">45. النعامة Naâma</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">46. عين تموشنت Aïn
                    Témouchent</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">47. غرداية Ghardaïa</a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1">48. غليزان Relizane</a>
            </div>
            <!--<div class="text-right col-3">

                
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
                <a href="" class="btn border-primary rbox text-right text-primary mb-1"></a>
               
            </div> -->
        </div>
    </div>

    <div class="w-25 d-flex ">
        <img src="/images/Algeria_location_map.png"
            class="w-100 mx-auto text-center justify-content-center align-self-center img-thumbnail" alt="">
    </div>
</section>



<!--


<a href="" class="btn btn-info">1- Adrar</a>
            <a href="" class="btn btn-info">2- Chlef</a>
            <a href="" class="btn btn-info">3- Laghouit</a>
            <a href="" class="btn btn-info">4- Oum Bouiaghi</a>
            <a href="" class="btn btn-info">1- Adrar</a>
            <a href="" class="btn btn-info">2- Chlef</a>
            <a href="" class="btn btn-info">3- Laghouit</a>
            <a href="" class="btn btn-info">4- Oum Bouiaghi</a>
            <a href="" class="btn btn-info">1- Adrar</a>
            <a href="" class="btn btn-info">2- Chlef</a>
            <a href="" class="btn btn-info">3- Laghouit</a>
            <a href="" class="btn btn-info">4- Oum Bouiaghi</a>
            <a href="" class="btn btn-info">1- Adrar</a>
            <a href="" class="btn btn-info">2- Chlef</a>
            <a href="" class="btn btn-info">3- Laghouit</a>
            <a href="" class="btn btn-info">4- Oum Bouiaghi</a>



 <div>
                <ul class="list-group">
                    {{#each elBayadh}}
                    <li class="list-group-item">{{this.name}}: {{this.email}} {{this.moreInfo.code}} </li>
                    {{/each}}
                </ul>
            </div>

-->